a{text-decoration: none;}
li{list-style-type: none;}

.menu ul {
    display: flex;
}

.menu li {
    margin-left: 50px;
    padding: 10px;
}

.menu li:hover {
    background-color: rgb(41, 41, 212);
    transition: 1s;
    border-radius: 10px;
}

.menu a:hover {
    color: white;
}

a {
    font-weight: bold;
    padding: 10px;
}